APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:oB4eDzH3HKyulL9PqOvIPzha82fYIuvs0oO4FhLLpN8=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=one
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=


STRIPE_KEY=pk_test_51PX4Ix2MtY3Va0hVYF6bLJkRf33LVKJ94yJpU6mNMF6d4ztqhQA7TrtlGNreKf2nHWHNCN2km0WhguVoKWSPGPvB00LzZWXy4a
STRIPE_SECRET=sk_test_51PX4Ix2MtY3Va0hVRPXzEz7hIC7Mvc62KoFCCITDX9VDMuMT4fdsAdsKIhX9ZyiG1kMt74uk5gq0SEqap09GYxfd00VrteI4qm
